p {
	margin: 0;
	padding: 0;
}

#weatherApp {
	width: 480px;
	min-width: 480px;
	margin: 20px auto;
	padding: 16px;
	background-color: #ffff40;
	/*min-height: 640px;
	max-height: 98vh;*/
	font-family: "Comfortaa", cursive;
}

#currentTime {
	font-size: 30px;
}

#degreeToggleBtn {
	float: right;
	font-size: 24px;
	padding: 4px;
}

#searchSection {
	margin-top: 24px;
}

#btnLocation {
	padding: 16px 24px;
}

.btnLocation {
	margin: 0 10px;
}

#searchFormInput {
	border: none;
	border-bottom: 1px solid #000;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	padding: 16px 16px;
}

#searchFormInput:focus {
	border: none;
	/*border-bottom: solid 1px #000;*/
	background-color: transparent;
}

#searchFormInput:hover {
	border: none;
	border-bottom: solid 1px #000;
	cursor: pointer;
}

.searchFormField {
	margin: 0 10px;
}

#btnSearchCity {
	padding: 16px 24px;
}

.btnSearchCity {
	margin: 0 10px;
}

.cityData {
	padding: 12px;
}

#userCity {
	font-size: 48px;
	font-weight: 700;
	padding: 0;
	margin: 0;
}

#currentDay {
	padding: 0;
	margin: 0;
}

#currentDate {
	padding: 0;
	margin: 0;
}

#weatherIco {
	font-size: 124px;
	display: block;
	margin: 0 auto;
}

#currentTemp {
	font-size: 96px;
	font-weight: 900;
	padding: 0;
	margin: 0;
}

.currentWeatherInfo {
	font-weight: 700;
	font-size: 28px;
	margin: 0;
	padding: 0;
}

.currentRain,
.currentHumidity {
	text-align: right;
}

.dayForecastHeaderDay {
	font-size: 14px;
	font-weight: 700;
}

.dayForecastHeaderDate {
	font-size: 12px;
}

.dayForecastOutput {
	text-align: center;
	font-size: 12px;
	padding-top: 10px;
}

.dayForecastIco {
	padding: 8px 4px;
}

.fa-solid {
	display: block;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 100;
}

.developer {
	font-size: 14px;
	text-align: center;
}

.developer a {
	text-decoration: none;
	color: black;
}
